services:
  postgres:
      image: postgres:17
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
        PGDATA: /var/lib/postgresql/data/pgdata
      volumes:
        - ./data:/var/lib/postgresql/data/pgdata

  keycloak:
      image: quay.io/keycloak/keycloak:26.4.0
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KC_BOOTSTRAP_ADMIN_USERNAME: admin
        KC_BOOTSTRAP_ADMIN_PASSWORD: metacell

      ports:
        - 8080:8080
      depends_on:
        - postgres
      command:
      - start-dev
      - --spi-theme-static-max-age=-1
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false
      volumes:
        - type: bind
          source: ../themes/custom
          target: /opt/keycloak/themes/custom